#Ignore idea
*.ipr
atlassian-ide-plugin.xml
.idea
target
*.iml
*.gem
smartfox-server-local
tmp
# Ignore bundler config
/.jbundler
/.bundle
config/*.yml
.doubleshot_test.pid
.classpath.cache
.Jrmvnrunner.cache